Debug/*
.vs/*
packages/*
x64/*
learnopengl/x64/*
log/*
!log/.gitkeep
tmp/*
!tmp/.gitkeep
dist/*
dist*
local/*
node_modules

imgui.ini

*~
#.*
.*#
*swp

vcpkg_installed/*

*-autosave.kra
*.blend?
.emacs*

*.orig
*_BASE_*
*_BACKUP_*
*_LOCAL_*
*_REMOTE_*
